venv
nginx
.git
__pycache__
.cache
.gitignore
db.sqlite3
docker-compose.yml
Dockerfile
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis