{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'general.css' %}">
    <link rel="stylesheet" href="{% static 'theme.css' %}">
    <script>
        (() => {
            const html_tag = document.documentElement;
            if (!html_tag.classList.contains('dark') && !html_tag.classList.contains('light'))
            {
                let theme = localStorage.getItem('theme');
                if (!theme)
                {
                    theme = 'dark'
                    localStorage.setItem('theme', theme)
                }
                html_tag.classList.add(theme)
            }
        })()
    </script>
    {% block head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>